*{
    color: #00e5ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    line-height: 50px;
    background: #b01919;
}


.e1m24680{
    line-height: 20px;
    font-size: 2px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-style: italic;
}


.hardclass{
    list-style-type: none;
}